* {
  box-sizing: border-box;
}

body {
  margin: 0;
  // background-color: $clr3;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
section,
div,
nav,
header,
footer,
p {
  margin: 0;
  padding: 0;
}